.EDU{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
}
img{
    border-radius: 20px;
    height: 300px;
    width: 50%;
    min-width: 500px;
}

.EDU p{
    font-size: 19px;
    padding: 10px;
    letter-spacing: 1.2px;
    word-spacing: 1px;
    line-height: 30px;
}