.Button{
    cursor: pointer;
    color: white;
    padding: 5px px;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 3px;
    border-color: rgba(255, 255, 255, 0);
    text-decoration: none;
    transition: 250ms;
    font-size: 18px;
}
.Button:hover{
    text-shadow: 0px 0px 10px white;
}
